.edit {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 99;
    background-color: white;
    display: flex;
    flex-direction: column;
    transform: translateY(-100vh);
    transition: all 0.5s;
    &--open {
        position: absolute;
        z-index: 99;
        background-color: white;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        transform: translateY(0);
        transition: all 0.5s;
    }

    &__options {
        display: flex;
        align-items: center;
        gap: 3rem;

        &-theme {
            font-size: 1.5rem;
            color: #3d3d3d;
            display: flex;
            gap: 1.5rem;
            align-items: center;

            select {
                border: 1px solid #d1d1d1;
                border-radius: 5px;
                padding: 0.5rem 1rem;
            }
        }

        &-env {
            display: flex;
            gap: 1rem;
        }
    }

    &__options-env-button {
        border: none;
        outline: none;
        background-color: transparent;
        height: 4rem;
        img {
            width: 2.5rem;
        }

        &--selected {
            border: none;
            border-bottom: 2px solid #838385;
            outline: none;
            background-color: transparent;
            height: 4rem;
            img {
                width: 2.5rem;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        height: 100%;

        &-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10rem;
            &-name {
                border: 1px dotted;
                margin: 1rem 0;
                padding: 1rem;
                font-weight: 700;
                font-size: 1.5rem;
            }

            &-icons {
                border: 1px dotted;
                margin: 1rem 0;
                padding: 1rem;
                display: flex;
                gap: 1rem;
                cursor: pointer;

                img {
                    width: 2.5rem;
                }
            }
        }

        &-inputs {
            height: 100%;
            background-color: #f7ecda;
            padding: 0 10rem;
            display: flex;
            flex-direction: column;
        }

        &-input--primary {
            display: flex;
            justify-content: space-between;
            gap: 10rem;
            margin: 5rem 0px;

            .uploader {
                width: 4rem;
                height: 4rem;
                overflow: hidden;
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &-input--scondary {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .uploader {
                // width: 4rem;
                // height: 4rem;
                overflow: hidden;
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &-input-image {
            .uploader {
                border-radius: 10px;
                width: 30rem;
                height: 30rem;
                overflow: hidden;
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &-product {
            display: flex;
            align-items: center;
            justify-content: space-between;

            border: 1px dotted;
            margin-top: 1rem;
            input {
                max-width: 25rem;
                border: none;
                outline: none;
                background-color: transparent;
            }
            &-price {
                display: flex;
                align-items: center;
                font-size: 1.25rem;
                input {
                    max-width: 6rem;
                    border: none;
                    outline: none;
                    background-color: transparent;
                }
            }
        }

        &-input-text--sub {
            input {
                background-color: transparent;
                border: 1px dashed;
                border-radius: 5px;
                height: 15rem;
                outline: none;
                width: 100%;
                max-height: 12rem;
                padding: 0 5rem;
                font-size: 3rem;
                text-align: center;

                &:focus,
                &:hover {
                    border: 1px dashed #005bd3;
                }
            }
        }
        &-input-text--main {
            position: relative;
            border: 1px dashed;

            &:focus,
            &:hover {
                border: 1px dashed #005bd3;
            }
            input {
                background-color: transparent;
                border: 1px dashed;
                border-radius: 5px;
                height: 15rem;
                outline: none;
                width: 100%;
                padding: 0 5rem;
                border: none;
                text-align: center;
            }

            button {
                position: absolute;
                bottom: -1rem;
                right: 50%;
                left: 50%;
                transform: translate(-50%, 0);
                border-radius: 50%;
                width: 2rem;
                height: 2rem;
                text-align: center;
                padding: 0;
                border: none;
                outline: none;
                background-color: #005bd3;
                color: white;
                cursor: pointer;
            }
        }

        &-input-texts {
            display: flex;
            flex-direction: column;
            gap: 2.5rem;
            flex: 2;
            margin: 3rem 0;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 4px 2px -2px #80808057;
        padding: 0 2rem 0rem 2rem;

        &-back-button {
            border: none;
            outline: none;
            background-color: transparent;
            display: flex;
            gap: 1.25rem;
            font-size: 1.5rem;
            color: #3d3d3d;
            cursor: pointer;
        }
    }

    &__save-button {
        border: none;
        outline: none;
        background-color: #008060;
        color: white;
        font-size: 1.25rem;
        border-radius: 5px;
        padding: 0.75rem 3rem;
        font-weight: 500;
    }

    &__style {
        position: absolute;
        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        right: 50%;
        left: 50%;
        transform: translate(25%, 0);
        width: 10rem;

        &-list {
            list-style-type: none;
            margin: 1rem;
            padding: 0;

            &-sub {
                list-style-type: none;
                padding: 0;
                padding: 0;
                height: 0;
                overflow: hidden;

                &--expanded {
                    list-style-type: none;
                    padding: 0 1.5rem;
                    height: 6rem;
                    overflow: hidden;
                }
            }
        }

        &-item {
            cursor: pointer;
            font-size: 1.25rem;
            padding-top: 0.5rem;
            &-input {
                overflow: hidden;
                height: 0;
                input {
                    cursor: pointer;
                    border: none;
                    outline: none;
                }

                &--expanded {
                    height: 4rem;
                    input {
                        height: 4rem;
                        cursor: pointer;
                        padding: 0;
                    }
                }
            }
        }
    }
}
