.view {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 999;
    background-color: white;
    display: flex;
    flex-direction: column;
    transform: translateY(-100vh);
    transition: all 0.5s;
    &--open {
        position: absolute;
        z-index: 999;
        background-color: white;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        transform: translateY(0);
        transition: all 0.5s;
    }

    &__options {
        display: flex;
        align-items: center;
        gap: 3rem;

        &-theme {
            font-size: 1.5rem;
            color: #3d3d3d;
            display: flex;
            gap: 1.5rem;
            align-items: center;

            select {
                border: 1px solid #d1d1d1;
                border-radius: 5px;
                padding: 0.5rem 1rem;
            }
        }

        &-env {
            display: flex;
            gap: 1rem;
        }
    }

    &__options-env-button {
        border: none;
        outline: none;
        background-color: transparent;
        height: 4rem;
        img {
            width: 2.5rem;
        }

        &--selected {
            border: none;
            border-bottom: 2px solid #838385;
            outline: none;
            background-color: transparent;
            height: 4rem;
            img {
                width: 2.5rem;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        height: 100%;

        &-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10rem;
            &-name {
                margin: 1rem 0;
                padding: 1rem;
                font-weight: 700;
                font-size: 1.5rem;
            }

            &-icons {
                margin: 1rem 0;
                padding: 1rem;
                display: flex;
                gap: 1rem;
                cursor: pointer;

                img {
                    width: 2.5rem;
                }
            }
        }

        &-inputs {
            height: 100%;
            background-color: #f7ecda;
            padding: 0 10rem;
            display: flex;
            flex-direction: column;
        }

        &-input--primary {
            display: flex;
            justify-content: space-between;
            gap: 10rem;
            margin: 5rem 0px;
        }

        &-input--scondary {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-input-image {
            .uploader {
                border-radius: 10px;
            }
        }

        &-product {
            display: flex;
            align-items: center;
            justify-content: space-between;

            margin-top: 1rem;

            &-price {
                display: flex;
                align-items: center;
                font-size: 1.25rem;
            }
        }

        &-input-text--sub {
            height: 15rem;
            outline: none;
            width: 100%;
            max-height: 12rem;
            font-size: 3rem;
        }

        &-input-text--main {
            position: relative;
            height: 15rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 4px 2px -2px #80808057;
        padding: 0 2rem 0rem 2rem;

        &-back-button {
            border: none;
            outline: none;
            background-color: transparent;
            display: flex;
            gap: 1.25rem;
            font-size: 1.5rem;
            color: #3d3d3d;
        }
    }

    &__save-button {
        border: none;
        outline: none;
        background-color: #008060;
        color: white;
        font-size: 1.25rem;
        border-radius: 5px;
        padding: 0.75rem 3rem;
        font-weight: 500;
    }

    &__content-img {
        border: none;
        border-radius: 50px;
        background-color: white;

        width: 30rem;
        height: 30rem;
        overflow: hidden;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__content-product-img {
        border: none;
        border-radius: 10px;
        background-color: white;
        cursor: pointer;
        width: 30rem;
        height: 30rem;
        overflow: hidden;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__content-input-texts {
        display: flex;
        flex-direction: column;
        flex: 1;
        text-align: center;
        gap: 2rem;
    }
}
